@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);





#menu-0 .navbar-toggler {
  color: #000;
}
#header4-1 H1 {
  font-family: 'Open Sans', sans-serif;
}
#header4-1 B {
  color: #30305f;
}
#features1-2 H4 {
  font-family: 'Open Sans', sans-serif;
}
#content5-3 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#content5-3 .mbr-section-title B {
  color: #30305f;
}
#content5-3 P {
  font-family: 'Open Sans', sans-serif;
}
#instagram-feed-block-5 .inst__title {
  color: #30305f;
  font-family: 'Open Sans', sans-serif;
}
